snippet import
@import (reference) '~@styles/$1.module.less';
endsnippet

snippet 1x
@u-fill-1x
endsnippet

snippet 2x
@u-fill-2x
endsnippet

snippet 3x
@u-fill-3x
endsnippet

snippet 4x
@u-fill-4x
endsnippet

snippet 5x
@u-fill-5x
endsnippet

snippet 6x
@u-fill-6x
endsnippet

snippet 7x
@u-fill-7x
endsnippet

snippet 8x
@u-fill-8x
endsnippet

snippet 9x
@u-fill-9x
endsnippet
